html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1, h2 {
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form .form-control {
  margin-bottom: 10px;
}

form .btn {
  width: 100%;
}
